@using AdminDashboard.Wasm.Models.ChattingMessage;
@inject IJSRuntime JSRuntime
@using System.Globalization
@using FSH.BlazorWebAssembly.Client.Infrastructure.Dto.ChattingMessage;
@inject HttpClient Http
@inherits BaseMessageComponent<ImageMessageViewModel>;

<div class="d-flex flex-row my-4 @(IsUserMessage?"my-chat-message":"others-chat-message")" dir="@(IsUserMessage?"rtl":"ltr")">


    <div>
        <MudText Typo="Typo.caption" Style="font-size: xx-small!important;">@Message?.CreatedDate.ToString("G", CultureInfo.CurrentCulture)</MudText>



        <MudCard>
            <MudCardContent>
                <MudImage Style="max-width:300px" Src="@Message.ImageUrl" />
                <MudText Typo="Typo.body1" Class="mt-0 ml-2">
                    passport image
                    <MudIconButton Icon="@Icons.Material.Outlined.Edit" Color="Color.Inherit" Class="ml-1" />
                </MudText>
            </MudCardContent>

            <MudCardActions>
                <MudButton StartIcon="@Icons.Material.Outlined.Download" OnClick="DownloadFile" Typography="Typo.body1" Class="ml-1">Download</MudButton>
            </MudCardActions>
        </MudCard>

    </div>
</div>

@code {
    private async Task DownloadFile()
    {
        var fileBytes = await Http.GetByteArrayAsync("sample.pdf");
        var base64String = Convert.ToBase64String(fileBytes);
        await JSRuntime.InvokeVoidAsync("downloadFile", "sample.pdf", base64String);
    }
}
