@page "/home"
@page "/"

@inject IStringLocalizer<Index> L

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <div class="d-flex justify-center mt-4">
                <img src="share-safe-logo.png" Style="height:250px" />
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center" Typo="Typo.h5" Class="smaller">@L["Share Safe"]</MudText>
            <MudText Align="Align.Center" Typo="Typo.h4">
                @L["Encrypted Messaging Made Easy"]</MudText>

        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <MudText Align="Align.Center">
                @L["Securely communicate with ease using our encrypted messaging platform."]

                
            </MudText>
        
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
           <div class="mud-typography-align-center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Rocket">@L["Get Started"]</MudButton>
                <MudButton Variant="Variant.Outlined" Style="margin-left:5px" Color="Color.Default" Link="/dashboard" StartIcon="@Icons.Material.Filled.Dashboard">@L["Dashboard"]</MudButton>
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
             <MudText Align="Align.Center">@L["Version 1.0"]</MudText>
        </MudItem>
     
       
    </MudGrid>
</MudContainer>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = default!;

    public IEnumerable<Claim>? Claims { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;
        Claims = authState.User.Claims;
    }
}